# ===========================
# NODE / FRONTEND
# ===========================
node_modules/
dist/
.env
.env.local
.env.*.local

# ===========================
# .NET / BACKEND (cho sau này)
# ===========================
bin/
obj/
*.user
*.suo
.vs/
appsettings.Development.json

# ===========================
# IDE & OS
# ===========================
.vscode/settings.json
.DS_Store
Thumbs.db
